// Include Bootstrap and BootstrapVue SCSS files

// General style overrides and custom classes
body {
  margin: 0;
  background-color: #f2f4f5; /* #eaedee */;
}


// Esto es para forzar los estilos de bootstrap que uso en Explorar.vue para los filtros de búsqueda
// IMPORTANTE: Considerar hacerlo por separado, tenelos en gerarquía hace que aumente mucho la especificidad, lo que me está
// forzando a utilizar !important en todo el proyecto.
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    font-weight: 600;
    color: white;
    background-color: #d49c6b;
    border-color: transparent;
    /* box-shadow: 1px 1px 6px 1px #F6FAFB; */
}

.nav-tabs {
    /*width: fit-content;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0; */
}

.list-group-item {
  padding: 0.75rem 1.25rem ;
}

.tab-content {
    /* border-top: solid 1px white; */
    margin-top: 0;
    padding-top: 1rem;
}

.mt-3 {
    margin-top: 0 !important;
}

/* Ocultar las flechas en todos los navegadores */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// 
