// General style overrides and custom classes
body {
  margin: 0;
  background-color: $color-background;;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Ocultar las flechas en todos los navegadores */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// TODO: Borrar. Es legacy.
// Esto es para forzar los estilos de bootstrap que uso en Explorar.vue para los filtros de búsqueda
// IMPORTANTE: Considerar hacerlo por separado, tenelos en gerarquía hace que aumente mucho la especificidad, lo que me está
// forzando a utilizar !important en todo el proyecto.
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    font-weight: 600;
    color: white;
    background-color: $color-primary;
    border-color: transparent;
}
.nav-tabs {
}
.list-group-item {
  padding: 0.75rem 1.25rem ;
}
.tab-content {
    margin-top: 0;
    padding-top: 1rem;
}
.mt-3 {
    margin-top: 0 !important;
}


// Sobreescribir estilo de primevue
.p-tabview-nav-link {
  font-size: 120%;
  background-color: transparent;
  color: $color-soft-grey;
  text-decoration: none;
  border: none;

  margin: 0.5rem 0;
  padding: 0.25rem 1rem;
  border-right: 1px solid grey;
  border-radius: 0;
}
.p-tabview-title {
}
.p-tabview {
  background-color: transparent;
}
.p-tabview-nav {
  padding: 0 8px;
  border: none;
}
.p-tabview-panels {
  background-color: transparent;
}
.p-tabview-header {
  border: none;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: $color-dark;
  text-decoration: underline;
}
