// Es global. Calcula automáticamente el padding y el border para respetar el tamaño dado a la caja.
* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  /* Hay que restarle el height del header y el footer. calc(100vh - 140px) */
  min-width: 100vw;
  background-color: #C1C8C7;
  padding-bottom: 3em;
  overflow-x: hidden;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding-right: 0;
}

.box {
  padding: 1rem 4rem;
}

.title-receta {
  padding: 1.2rem 0;
}

.section {
  margin-bottom: 2rem;
}

.title-seccion { /* BORRAR: Obsoleto. Borrar cuando se eliminen todas sus llamadas en Recetas.vue */
  border-top: 1px solid #C1C8C7;
  padding: 0.8rem 0;
}

// REGISTRO Y LOGIN
.email-container {
  top: 3rem;
  position: absolute;
  width: 76%;
  /* Utilizar variables css para calcular  */
}

.pass-container {
  top: 9rem;
  position: absolute;
  width: 76%;
  /* Utilizar variables css para calcular  */
}
.input-container { /* TODO: Renombrar! Esto se utiliza para cosas que no son imputs. Nuevo nombre => group-item-container o group-item-wrapper */
  display: block; /* Volver a inline-block si aparecen comportamientos extraños */
  padding: 0;
  background-color: transparent;
  border: none;
}
.login-button { /* Algo he tocado que no se están aplicando los estilos porque otros estilos se aplican por encima */
  bottom: 2.5rem;
  position: absolute;
  width: 76%;
  /* Utilizar variables css para calcular  */
  border-radius: 0.8rem;
  color: #eaedee;
  background-color: #d49c6b;
  box-shadow: 2px 2px 12px 0px #252b31;
  border-style: none;
  font-weight: 600;
  letter-spacing: 0.08rem;
}

/*
  PALETAS DE COLORES

    #5C2C0C #405357 #252B31
    #DDA35D #F5D29E #5E6668
    #AA6231 #7F5B3F #C1C8C7
    #E3DECA #334C38 #F6FAFB
    #3C3A1E #182312 #D49C6B
*/

// BORRAR, PRUEBAS