
// Es global. Calcula automáticamente el padding y el border para respetar el tamaño dado a la caja.
* {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh; /* Hay que restarle el height del header y el footer. calc(100vh - 140px) */
    min-width: 100vw;
    background-color: #C1C8C7;
    padding-bottom: 3em;
}

.box {
  padding: 1rem 4rem;
}
.title-receta {
  padding: 1.2rem 0;
}
.title-seccion {
  border-top: 1px solid #C1C8C7;
  padding: 0.8rem 0;
}

// REGISTRO Y LOGIN
.email-container {
  top: 3rem;
  position: absolute;
  width: 76%; /* Utilizar variables css para calcular  */
}
.pass-container {
  top: 9rem;
  position: absolute;
  width: 76%; /* Utilizar variables css para calcular  */
}
.login-button {
  bottom: 2.5rem;
  position: absolute;
  width: 76%; /* Utilizar variables css para calcular  */
  border-radius: 0.8rem;
  color: #eaedee;
  background-color: #d49c6b;
  box-shadow: 2px 2px 12px 0px #252b31;
  border-style: none;
  font-weight: 600;
  letter-spacing: 0.08rem;
}

/*
  PALETAS DE COLORES

    #5C2C0C #405357 #252B31
    #DDA35D #F5D29E #5E6668
    #AA6231 #7F5B3F #C1C8C7
    #E3DECA #334C38 #F6FAFB
    #3C3A1E #182312 #D49C6B
*/

// BORRAR, PRUEBAS
