// Colors
$color-primary: #ffc400;
$color-background: #fefbeb;
$color-dark: black;

//Layout
$header-top-bar-height: 1.5rem;
$header-logo-height: 10rem;
$header-main-bar-height: 2rem;
$header-height: $header-top-bar-height + $header-logo-height + $header-main-bar-height