// Colors
$color-primary: #ffc400;
$color-background: #fefbeb;
$color-dark: black;
$color-vegan: rgb(178, 241, 142);
$color-soft-grey: rgb(204, 204, 204);
$color-red: #df6666;

//Layout
$header-top-bar-height: 1.5rem;
$header-logo-height: 10rem;
$header-main-bar-height: 2rem;
$header-height: $header-top-bar-height + $header-logo-height + $header-main-bar-height // TODO: Obsoleto, comprobar si se usa y borrarlo